.Header {
    display: flex;
    font-size: 25px;
}
.HeaderListItem {
    display: flex;
    flex-direction: row;
}
.HeaderListItem .HeaderItem{
    display: inline-block;
    transition: .2s;
    padding: 1em;
}
.HeaderListItem .HeaderItem a {
    display: inline-block;
    position: relative;
}

.HeaderListItem .HeaderItem a::after {
    position: absolute;
    bottom: -10px;
    left: 25%;
    width: 50%;
    height: 3px;
    content: '';
    transition: all .35s;
    background-color: #fff;
    transform: scaleX(0);
}

.HeaderListItem .HeaderItem a.Active::after{
    transform: scaleX(1.5);
}
/* .Active {
    transform: scaleX(2);
} */