.Header {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 40px 0 15px;
}
.HeaderListItem {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.HeaderListItem .HeaderItem{
    display: inline-block;
    margin: 50px;
    transition: .2s;
    padding: 1em;
}
.HeaderListItem .HeaderItem a {
    display: inline-block;
}
.Active {
    color: rgb(228, 22, 22);
}