@import url('https://fonts.googleapis.com/css?family=Marmelad');

.Table {
    font-family: 'Marmelad', sans-serif;
    min-width: 300px;
    text-align: center;
}


.Date {
}

.Money{
}

.Category{
}