.App {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url('./assets/images/bg/bg_first.png');
  background-size: cover;
  background-position: 50% 50%;
}
.DataContainer {
  display: flex;
  align-items: center;
}
